<div class="header__topo">
  <div class="conteudo">
    <a href="/" class="header__logo">
      <div class="brasil-flag">
        <div class="losangue"></div>
        <div class="circle"></div>
      </div>
      <h1>Brasil</h1>
    </a>
    <div class="header__weather"></div>
  </div>
</div>
<div class="header__menu">
  <div class="conteudo">
    <nav>
      <ul class="header__menu_links">
        <li id="home"><a href="/">Home</a></li>
        <li id="cultura"><a href="/cultura.html">Cultura</a></li>
        <li id="culinaria"><a href="/culinaria.html">Culinária</a></li>
      </ul>
      <div class="header__menu_conversao">
        <button id="botaoModalConversao" class="button">
          Conversão de moeda
        </button>
      </div>
    </nav>
  </div>
</div>
