.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: $branco;
  box-shadow: 0px 20px 20px 20px #0000001f;
  z-index: 9;

  // &::before {
  //   position: absolute;
  //   bottom: 0;
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   background: linear-gradient($gradiente);
  // }

  .conteudo {
    height: 100%;
    @include flex(space-between, center);
  }

  &__logo {
    @include flex(center, center);
    gap: 20px;

    h1 {
      @include font(600, 30px, normal, $fonte-destaque);
      text-transform: uppercase;
    }

    @import "brasil-flag";
  }

  &__menu {
    i {
      color: $preto;
      font-size: 40px;
    }
  }
}
