$altura-header: 80px;

.header {
  &__topo {
    position: fixed;
    width: 100%;
    height: $altura-header;
    background: $branco;
    z-index: 9;
    transition: transform 0.2s ease-in-out;
  }

  &__menu {
    position: fixed;
    width: 100%;
    top: $altura-header;
    background: $azul-escuro;
    z-index: 9;
    transition: top 0.2s ease-in-out;

    nav {
      width: 100%;
      @include flex(space-between, center);

      .button {
        text-transform: none;
        border-color: $azul;
      }
    }

    ul {
      @include flex(flex-start, center);
      gap: 10px;

      li {
        color: $branco;
        font-family: $fonte-destaque;
        padding: 15px;
        border: 2px solid transparent;

        &:hover,
        &:active,
        &.active {
          background-color: #ffffff1f;
          border-top: $verde solid 2px;
        }

        a {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  box-shadow: 0px 20px 20px 20px #0000001f;

  .conteudo {
    height: 100%;
    @include flex(space-between, center);
  }

  &__logo {
    @include flex(center, center);
    gap: 20px;

    h1 {
      @include font(600, 30px, normal, $fonte-destaque);
      text-transform: uppercase;
    }

    @import "brasil-flag";
  }

  &__menu {
    i {
      color: $preto;
      font-size: 40px;
    }
  }
}

.header-up {
  .header__topo {
    transform: translateY(-100%);
  }

  .header__menu {
    top: 0;
  }
}
