$verde: #3f933d;
$amarelo: #ded354;
$azul: #0b6e60;
$branco: #fff;
$preto: #000;

$gradiente: 90deg, $azul 0%, $verde 50%, $amarelo 100%;

$fonte-principal: "Lato", sans-serif;
$fonte-destaque: "Raleway", sans-serif;
$fonte-destaque2: "Patrick Hand SC", cursive; ;
